@use 'variables' as *;

// Background classes
.bg-primary {
  background-color: $backgroundColor1;
}

.bg-secondary {
  background-color: $backgroundColor2;
}

.bg-main {
  background-color: $mainColor;
}

.bg-section {
  background-color: $sectionColor;
}

// Text colors
.text-color1 {
  color: $color1;
}

.text-color2 {
  color: $color2;
}

.text-color3 {
  color: $color3;
}

.text-color4 {
  color: $color4;
}