@use 'variables' as *;
@use 'colors';
@use 'nav';
@use 'registration';
@use 'listingtable';

html {
  font-size: 1em;
  width: calc(100% / 2 + 50%);
}

body {
  font-family: $fontFamily1;
  background: $backgroundColor1;
}

header {
  height: $headerHeight;
  width: $mainWidth;
  margin: 0.8em auto 1em auto;
}

main {
  background: $mainColor;
  width: $mainWidth;
  min-height: 535px;
  padding: 1.5%;
  margin: 0 auto;
  overflow: hidden; // Clear floats

  #intro-image {
    float: left;
    width: $introImageWidth;

    img {
      width: 100%;
    }
  }

  #intro-text {
    width: $introTextWidth;
    height: $introTextHeight;
    float: left;
    background: $sectionColor;
    text-align: center;
    padding-top: 8em;

    h3 {
      font-size: $fontSizeH3;
      color: $color3;
    }

    span {
      font-family: $fontFamily2;
      font-size: 2em;
    }
  }
}

footer {
  width: $mainWidth;
  margin: 2em auto;
  padding-left: 80px;
  font-size: $fontSizeSmall;
}

// Button Mixin
@mixin button-style {
  color: $color4;
  width: 100px;
  height: 40px;
  background: $backgroundColor1;
  margin-top: 2em;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.submit-button {
  @include button-style;
  border: 1px solid $color3;
}

// Utility classes
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}