extends layout

block content
  section#registrations
    h2 Registered Users
    table
      thead
        tr
          th Name
          th Email
      tbody
        each registration in registrations
          tr
            td= registration.name
            td= registration.email